*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.container{
	width: 75%;
	margin: auto;
}
.navbar{
	width: 75%;
	height: 95px;
	padding: 15px;
	margin: auto;
}
.navbar h2{
	font-family: arial;
	text-align: left;
	color: #000;
	font-size: 20px;
	font-weight: lighter;
}
.form{
	margin-top: 20px;
}
.form h2{
	font-family: arial;
	text-align: center;
	text-transform: capitalize;
	margin:10px 0 0 0;
}
.form .form-group{
	padding: 40px;
	padding-bottom: 0;
}
.form .form-group:last-child{
	padding: 40px;
}
.form-group input[type='text']{
    border: 1px solid #ddd;
    width: 100%;
    height: 35px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;

}
.form-group label{
	font-size: 20px;
	font-family: arial;
	text-transform: capitalize;
}
.button{
	text-align: center;
}
input[type='submit']{
	background: #3498db;
	text-align: center;
	width: 150px;
	height: 50px;
	color: #FFF;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 20px;
	outline: 0;
}
#showresult{
	margin: 50px 0 0 0;
}
.item {
    text-transform: capitalize;
    background: #eee;
    padding: 4px;
    margin: 10px;
    font-family: arial;
}
.item h3{
	font-weight: lighter;
	padding: 5px;
	display: inline-block;
}
.item div{
	float: right;
	margin: 10px;
	padding: 10px;
}
.item a{
	cursor: pointer;
}
.item .btn{
	text-decoration: none;
    color: #000;
    background: #fff;
    padding: 10px;
    border: .4px solid #DDD;
    border-radius: 5px;
    margin-right: 2px;
}
.item .btn:active{
	background: #e7e7e7;
}

.item .btn-danger{
	text-decoration: none;
    color: #fff;
    background: #e53737;
    padding: 10px;
    border: .4px solid #DDD;
    border-radius: 5px;
}
.item .btn-danger:active{
	background: #d73434;
}